.page {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    overflow: hidden;
}

.jumbotron {
    background-image: url("../img/books_bg.jpg");
    background-size: cover;
    min-height: 30rem;
}

.jumbotron .content {
    margin-top: 20%;
    padding: 10px;

}

.footer-photo {
    height: 50px;
}




@media screen and (min-width: 768px) { 
    .jumbotron .content {
        margin-top: 20%;
        float: right;
    
    }
}


@media screen and (min-width: 930px) { 
    .jumbotron .content {
        margin-top: 05%;
        float: right;
        padding: 10px;
    
    }
 }

